html
{
    background: rgba(33,4,26,1);
    height: 100%;
}

body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFEBC8;
    height: 100%;
    margin: 0px;;
}

body > *
{
    font-size: 20px;
    padding: 10px;
}

body header
{
    background: #502028;
    
    position: fixed;
    width: 100%;
}

body header h1
{
    margin: 0px;
    text-align: center;
    font-size: 190%;
    max-width: 800px;
}

body nav
{
    display: flex;
    justify-content: space-evenly;
}

body main
{
    width: 100%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

body footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #C5733C;
}

body footer p
{
    margin: 5px;
    margin-left: 20px;
}

a{
    text-decoration: none;
}

a
{
    color: #FFEBC8;
}

a:hover
{
    text-decoration: underline;
}

.candle{
    position: fixed;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    bottom: 0px;
    pointer-events: none;
}

.back{
    position: fixed;
    font-size: 120%;
    width: 100%;
    text-align: center;
    bottom: 90px;
    color: #21041A;
}

.back a{
    color: #21041A;
}