
html{
    width: 97%;
}

.image{
    padding: 10px;
    padding-right: 0px;
    width: 40%;
    max-width: 400px;
    float: right;
    padding-left: 20px;

}

video{
    margin: 15px;
}

.project{
    display: flex;
    flex-direction: column;
}

.project h2{
    text-align: left;
}

.thing{
    width: 100%;
}

main p{
    text-align: justify;
    font-size: 85%;
}

main{
    max-width: 1100px;
    text-align: center;
}

.bottom{
    height: 250px;
}

@media screen and (min-width: 750px) {

.image{
    padding-left: 40px;
}

.project{
    display: grid;
    grid-template-areas:
        "h h"
        "p i";
}

.project h2{
    grid-area: h;
}

.project p{
    grid-area: p;
}

.project img{
    margin-left: 40px;
    grid-area: i;
}

}